scikit-learn==1.1.3
# numpy>=1.23.5
numpy
matplotlib>=3.6.2
fat-forensics
ipython
notebook
tqdm
pytest
ipywidgets
pandas
lime
py_rbig @ git+https://github.com/ipl-uv/rbig@master
scipy
astropy
statsmodels
python-picard
shap
